/*  ================ Tags ================ */

body {
	text-align: center;
	background-color: #ffffff;
}

input {
	margin: 5px;
}

table, tr, td {
	padding: 7.5px;
	vertical-align: top;
	border: black solid 1px; 
	border-collapse: collapse;
}

/*  ================ Classes ================ */

.err_msg {
	margin: auto;
	padding: 5px 0px 5px 0px;
	background-color: #ee000099;
	color: #fff;
}

table.nested {
	width: 100%;
}

td.act_id {
	background-color: #00000022;
}

span.req_field {
	color: #f00;
}

/*  ================ IDs ================ */
#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#alive_btn {
	width: 200px;
	height: 200px;
	border: black solid 1px;
	border-radius: 25%;
	background-color: #33ff3377;
	font-size: 24px;
}

#login_form, #register_form {
	border: black solid 1px;
	border-radius: 5px;
	padding: 5px;
	margin: auto;
}
